/* Overheader */
.overheader {
	background-color: #f8f8f8;
	color: #9d9d9d;
}
	.overheader ul { 
		margin: 0px;
		padding: 5px 0px; 
	}
	.overheader ul li {
		list-style: none;
		display: inline-block;
		width: 33%;
		text-align: center;
	}
	.overheader ul li span.name {
		display: block;
	}
/* Header */
.header {
	background-image: url("../img/blockchain-technology-background.png");
	background-position: right bottom;
	-webkit-background-size: 100% 200%;
	background-size: 100% 200%;
	height: 158px;
}
	.header h1 {
		font-family: Arial;
		margin: 0px;
		font-size: 55px;
		font-weight: 600;
		line-height: 158px;
		color: #fff;
	}
/* Subheader */
.subheader {
	background-color: #f8f8f8;
	color: #777;
	font-size: 18px;
	font-weight: 200;
	padding: 40px;
	text-align: justify;
}
	.subheader a { text-decoration: none; }
/* No data */
.well-no-data {
	margin: 40px;
	font-size: 20px;
}
/* Plots Row Styles */
.container-plots {
	background-color: #f0f0f0;
}
/* Plot Item */
.container-plots .row.row-item-plot {
	padding-top: 20px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 30px;
	margin-right: 30px;
	background-color: #fff;
}
	/* Title */
	.container-plots .row.row-item-plot .col-block-title {
		text-align: center;
	}
		.container-plots .row.row-item-plot .col-block-title a {
			text-decoration: none;
			font-size: 20px;
		}
	/* Image */
	.container-plots .row.row-item-plot .col-block-img {
		padding-top: 50px;
		text-align: center;
	}
		.container-plots .row.row-item-plot .col-block-img img {
			height: 300px;
		}
	/* Plotly Plot */
	.container-plots .row.row-item-plot .col-block-plotly {
		float: left;
		height: 400px;
	}